# Pymaceuticals, Inc. Analysis

In [14]:
# set up
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# combine the data into a single dataframe
mouse_study = pd.merge(mouse_metadata, study_results, on=["Mouse ID"], how="right")

# display the data table for preview
mouse_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,b128,Capomulin,Female,9,22,0,45.0,0
1,f932,Ketapril,Male,15,29,0,45.0,0
2,g107,Ketapril,Female,2,29,0,45.0,0
3,a457,Ketapril,Female,11,30,0,45.0,0
4,c819,Ketapril,Male,21,25,0,45.0,0

In [15]:
# check the total number of mice in the study
mouse_study["Mouse ID"].nunique()

249

In [20]:
# find the duplicate mice by id number that shows up for Mouse ID and Timepoint

0       False
1       False
2       False
3       False
4       False
        ...
1888    False
1889    False
1890    False
1891    False
1892    False
Length: 1893, dtype: bool